<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>admin Panel</title>

		<style>
			a {
				color: black;
				margin: 2rem;
			}

			a:hover {
				color: orangered;
			}
		</style>
	</head>
	<body>
		<a href="/admin/new-arrivals">All New Arrivals</a>
		<a href="/admin/new-arrivals/add-type">Add New Arrivals type</a>
		<a href="/admin/new-arrivals/add-product">Add New Arrivals Product</a>

		<a href="/admin/collections/">All Collections</a>
		<a href="/admin/collections/add-collection">Add New collection type</a>
		<a href="/admin/collections/add-product"> Add New collection Product </a>
	</body>
</html>
