<!-- -------------------------- footer beginning --------------------------- -->

<footer class="footer">
  <ul>
    <div class="footer-content footer__left-content">Services</div>
    <li class="footer__list-item">
      <a href="#" class="hover">Installation Service</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Delivery Service</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Measuring Service</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Customer Service</a>
    </li>
  </ul>
  <ul>
    <div class="footer-content footer__center-content">Support</div>
    <li class="footer__list-item">
      <a href="#" class="hover">Return Policy</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Contact Us</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Gift Guide</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Feedback</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">FAQ'S</a>
    </li>
  </ul>
  <ul>
    <div class="footer-content footer__right-content">About</div>
    <li class="footer__list-item">
      <a href="#" class="hover">Stores</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Newsroom</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Working with us</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Sustainability</a>
    </li>
    <li class="footer__list-item">
      <a href="#" class="hover">Business enquiry</a>
    </li>
  </ul>
</footer>

</body>
</html>