<!-- ---------------------------- hamburger nav  ---------------------------- -->
<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toogle" />
  <label for="navi-toogle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav-ham">
    <ul class="navigation__list">
      <li class="navigation__item" style="width: 400px; margin: 3rem">
        <a href="./index.html" class="navigation__link">WoodCase</a>
      </li>
      <li class="navigation__item" style="width: 400px; margin: 3rem">
        <a href="./shelfmate.html" class="navigation__link">Shelfmate</a>
      </li>
      <li class="navigation__item" style="width: 400px; margin: 3rem">
        <a href="./Caterpillar.html" class="navigation__link">Caterpillar</a>
      </li>
      <li class="navigation__item" style="width: 400px; margin: 3rem">
        <a href="./artisian.html" class="navigation__link">Artisian</a>
      </li>
      <li class="navigation__item" style="width: 400px; margin: 3rem">
        <a href="./shop.html" class="navigation__link">Shop</a>
      </li>
      <li class="navigation__item" style="width: 400px; margin: 3rem">
        <a href="#" class="navigation__link">Basket</a>
      </li>
    </ul>
  </nav>
</div>