.navbar {
	padding: 2rem;
	position: relative;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	z-index: 1;
  @media screen and (max-width: 1024px) {
		display: none;
	}
}

a {
	padding: 2rem;
}

.container {
	display: flex;
	align-items: center;
}

.logo {
	font-size: 2.3rem;
}

.icons {
  position: relative;
}

.search {
	width: 30px;
}

.cart {
	width: 30px;
}


/* ------------------------- Animation for nav links ------------------------ */

.hover {
	position: relative;
}
.hover::after {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.hover:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.hover::after {
	content: "";
	position: absolute;
	// display: block;
	top: 72%; left: 18%; right: 0; bottom: 0;
	height: 1px;
	width: 65%;
	background: $pr;
	transition: transform 0.3s ease-in-out;
}


