<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>login</title>
	</head>

	<body>
		<form action="/login" method="POST">
			<%- include('./includes/csrfToken.ejs') %>
			<input type="email" placeholder="email" name="email" />
			<input type="password" placeholder="password" name="password" />
			<button type="submit">Submit</button>
		</form>
		<% if (isLoggedIn) { %>
		<h1><%= user.firstName %></h1>
		<% } else { %>
		<h1>you are not login</h1>
		<% } %>

		<form action="/logout" method="POST">
			<%- include('./includes/csrfToken.ejs') %>
			<button type="submit">Logout</button>
		</form>
	</body>
</html>
