<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shop</title>

		<link rel="stylesheet" href="css/shop.css" />

		<%- include('./includes/links.ejs') %>
	</head>
	<body>
		<%- include('./includes/nav') %> <%- include('./includes/hamnav') %>

		<!-- ----------------------------------------Bed Section---------------------------------------- -->
		<section id="section_bed">
			<div class="text">Beds</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html"
							><img
								src="/images/Compressed/Products/Bed/bed 1.1.png"
								alt="Bed1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS.39,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Bed/bed 2.1.png"
								alt="Bed2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS.46,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Bed/bed 3.1.png"
								alt="Bed3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS.55,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Bed/bed 4.1.png"
								alt="Bed4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS.72,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Bed/bed 5.1.png"
								alt="Bed5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 45,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<!-- ----------------------------------------Cabinet Section---------------------------------------- -->
		<section id="section_cabinet">
			<div class="text">Cabinets</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html"
							><img
								src="/images/Compressed/Products/cabinets/cabinet 1.1.png"
								alt="Cabinet1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 19,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/cabinets/cabinet 3.1.png"
								alt="Cabinet2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 30,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/cabinets/cabinet 4.1.png"
								alt="Cabinet3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 35,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/cabinets/cabinet 2.1.png"
								alt="Cabinet4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 25,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/cabinets/cabinet 6.1.png"
								alt="Cabinet5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 20,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<!-- ----------------------------------------Chair Section---------------------------------------- -->
		<section id="section_chair">
			<div class="text">Chairs</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Chair/Chair 1.1.png"
								alt="Chair1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 7,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Chair/Chair 2.1.png"
								alt="Chair2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 9,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Chair/Chair 3.1.png"
								alt="Chair3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 15,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Chair/Chair 4.1.png"
								alt="Chair4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 11,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Chair/Chair 5.1.png"
								alt="Chair5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 18,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<!-- ----------------------------------------Shelve Section---------------------------------------- -->
		<section id="section_shelve">
			<div class="text">Shelves</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Shelves/Shelves 1.1.png"
								alt="Shelves1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 14,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/Shelves/Shelves 2.1.png"
								alt="Shelves2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 19,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Shelves/Shelves 3.1.png"
								alt="Shelves3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS.30,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/Shelves/Shelves 4.1.png"
								alt="Shelves4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 25,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Shelves/Shelves 5.1.png"
								alt="Shelves5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 27,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<!-- ----------------------------------------Sofa Section---------------------------------------- -->
		<section id="section_sofa">
			<div class="text">Sofas</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Sofa/Sofa 1.1.png"
								alt="Sofa1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 32,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Sofa/Sofa 2.1.png"
								alt="Sofa2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 45,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Sofa/Sofa 3.1.png"
								alt="Sofa3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 39,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Sofa/Sofa 4.1.png"
								alt="Sofa4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 60,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Sofa/Sofa 5.1.png"
								alt="Sofa5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 42,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<!-- ----------------------------------------Table Section---------------------------------------- -->
		<section id="section_table">
			<div class="text">Tables</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Tables/Tables 1.1.png"
								alt="Tables1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 10,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/Tables/Tables 2.1.png"
								alt="Tables2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 12,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Tables/Tables 3.1.png"
								alt="Tables3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 15,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/Tables/Tables 4.1.png"
								alt="Tables4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 25,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Tables/Tables 5.1.png"
								alt="Tables5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 27,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<!-- ----------------------------------------Trolley Section---------------------------------------- -->
		<section id="section_trolley">
			<div class="text">Trolleys</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Trolley/Trolley 1.1.png"
								alt="Trolley1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 10,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Trolley/Trolley 2.1.png"
								alt="Trolley2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 12,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Trolley/Trolley 3.1.png"
								alt="Trolley3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 15,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed2.html">
							<img
								src="/images/Compressed/Products/Trolley/Trolley 4.1.png"
								alt="Trolley4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 25,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/bed1.html">
							<img
								src="/images/Compressed/Products/Trolley/Trolley 5.1.png"
								alt="Trolley5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 27,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<!-- ----------------------------------------Wardrobe Section---------------------------------------- -->
		<section id="section_wardrobe">
			<div class="text">Wardrobes</div>
			<div class="row">
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Wardrobe/Wardrobe 1.1.png"
								alt="Wardrobe1"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS.42,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/Wardrobe/Wardrobe 2.1.png"
								alt="Wardrobe2"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 29,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Wardrobe/Wardrobe 3.1.png"
								alt="Wardrobe3"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 30,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet2.html">
							<img
								src="/images/Compressed/Products/Wardrobe/Wardrobe 4.1.png"
								alt="Wardrobe4"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 78,000</figcaption>
					</figure>
				</div>
				<div class="column">
					<figure>
						<a href="../buypageproducts/cabinet1.html">
							<img
								src="/images/Compressed/Products/Wardrobe/Wardrobe 5.1.png"
								alt="Wardrobe5"
								style="width: 100%"
								style="height: 100%"
						/></a>
						<figcaption>RS. 21,000</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<%- include('./includes/footer') %>
	</body>
</html>
