<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>add product</title>
	</head>

	<body>
		<form
			action="/admin/new-arrivals/add-product?_csrf=<%= csrfToken %>"
			method="POST"
			enctype="multipart/form-data"
		>
			<%- include('../includes/csrfToken.ejs') %>
			<select name="type">
				<% types.forEach(type => { %>
				<option value="<%= type.title %>"><%= type.title %></option>
				<% }) %>
			</select>

			<input type="text" name="title" placeholder="title" required />
			<input
				type="text"
				name="description"
				placeholder="description"
				required
			/>
			<input type="number" name="price" placeholder="price" required />
			<input type="file" name="image1" accept=".png,.jpg,.jpeg" />
			<input type="file" name="image2" accept=".png,.jpg,.jpeg" />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
